html
{
    width: 90%;
    background-color: #262336;
}

header
{
    /* background-color: #262336; */
}

.HeaderFlexBox
{
    display: flex;
    flex-direction: row;
}

.HeaderFlexBoxItems
{

}

.HeaderFlexBoxItems:nth-child(2)
{
   
}

.HeaderFlexBoxItems:nth-child(3)
{
    display: inline;   
    width: 90%;
}

ul 
{
    list-style-type: square;
    margin: 0;
    padding: 3px;
    overflow: hidden;
}

li
{
    float: left;
}

li a
{
    display: block;
    padding: 8px;
}