html
{
    width: 100%;
    background-color: #262336;
}

.HeaderFlexBox
{
    display: flex;
    flex-direction: row;

    position: relative;
}

.HeaderFlexBoxItems:nth-child(2)
{
   width: 50%;
}

.HeaderFlexBoxItems:nth-child(3)
{
    position: relative;
    top: 25px;

    white-space: nowrap;
}

.HeaderFlexBoxItems:nth-child(3) ul
{
    list-style-type: none;
}

.HeaderFlexBoxItems:nth-child(3) li
{
    display: inline;
}

li a
{
    text-decoration: none;
    color: lightgrey;
}

hr
{
    border: 1px solid lightgrey;
}

.RealPersonFlexBox
{
    display: flex;
    flex-direction: column;
}

.RealPersonFlexBoxItems
{
    text-align: center;
}

.RealPersonFlexBoxItems:nth-child(1)
{
    color:lightgray;
}

.RealPersonFlexBoxItems:nth-child(2)
{
    color: white;
}

.RealPersonFlexBoxItems:nth-child(3)
{
    color: lightgray;
}

.RealPersonFlexBoxItems:nth-child(4)
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    color: gray;
}

button
{
    padding: 18px;
    font-size: 16px;
    border-radius: 12px;
    background-color: gray;
    color: white;
}

.ControlMultiDomainFTPAndDirectFlexBox
{
    display: flex;
    flex-direction: row;
   
    align-items: center;

    background-color: #f29b66;
}

/* Flexbox for CONTROL, MULTI DOMAIN, DTP and DIRECT*/

.ControlFlexBox
.Multi-DomainFlexBox,
.FTPFlexBox,
.DirectFlexBox
{
    display: flex;
    flex-direction: column;
}

.ControlFlexBoxItems,
.Multi-DomainFlexBoxItems,
.FTPFlexBoxItems,
.DirectFlexBoxItems
{
    text-align: center;
}

.ControlFlexBoxItems:nth-child(2)
.Multi-DomainFlexBoxItems:nth-child(2),
.FTPFlexBoxItems:nth-child(2),
.DirectFlexBoxItems:nth-child(2)
{
    color: white;
    font-size: 26px;
}

.ControlFlexBoxItems:nth-child(3),
.Multi-DomainFlexBoxItems:nth-child(3),
.FTPFlexBoxItems:nth-child(3),
.DirectFlexBoxItems:nth-child(3)
{
    color: lightgray;
    font-size: 24px;
}

.ControlFlexBoxItems:nth-child(4)
.Multi-DomainFlexBoxItems:nth-child(4),
.FTPFlexBoxItems:nth-child(4),
.EmailSolutionsFlexBoxItems:nth-child(4)
{
    font-size: 18px;
}

/* HOSTING SECTION FLEXBOX */

.HostingFlexBox
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: lightgrey;
}

/* HostingServerEmailAndProducts FlexBox and flexbox items */

.HostingServerEmailAndProductsFlexBox
{
    display: flex;
    flex-direction: row;
}

.HostingServicesFlexBox
{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.HostingServicesFlexBoxItems
{
    align-items: flex-start;
}

.HostingServicesFlexBoxItems:nth-child(1)
{
    color: grey;
    font-size: 24px;
}

.HostingServicesFlexBoxItems:nth-child(2) ul
{
    list-style: square;
}

.HostingServicesFlexBoxItems:nth-child(2) li
{
    color: white;
}

.HostingServicesFlexBoxItems:nth-child(2) li::marker
{
    color: red;
}

.HostingServicesFlexBoxItems:nth-child(3)
{
    font-size: 16px;
    text-align: left;
    color: grey;
}

.HostingServicesFlexBoxItems:nth-child(4) button
{
    background-color: #f29b66;
}

/* HostingServerEmailAndProducts FlexBox and flexbox items */

.HostingServerEmailAndProductsFlexBox
{
    display: flex;
    flex-direction: row;
}

.HostingServicesFlexBox, 
.ServerSolutionsFlexBox, 
.EmailSolutionsFlexBox,
.MoreProductsFlexBox
{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.HostingServicesFlexBoxItems,
.ServerSolutionsFlexBoxItems,
.EmailSolutionsFlexBoxItems,
.MoreProductsFlexBoxItems
{
    align-items: flex-start;
}

.HostingServicesFlexBoxItems:nth-child(1),
.ServerSolutionsFlexBoxItems:nth-child(1),
.EmailSolutionsFlexBoxItems:nth-child(1),
.MoreProductsFlexBoxItems:nth-child(1)
{
    color: grey;
    font-size: 24px;
}

.HostingServicesFlexBoxItems:nth-child(2) ul,
.ServerSolutionsFlexBoxItems:nth-child(2) ul,
.EmailSolutionsFlexBoxItems:nth-child(2) ul,
.MoreProductsFlexBoxItems:nth-child(2) ul
{
    list-style: square;
}

.HostingServicesFlexBoxItems:nth-child(2) li,
.ServerSolutionsFlexBoxItems:nth-child(2) li,
.EmailSolutionsFlexBoxItems:nth-child(2) li,
.MoreProductsFlexBoxItems:nth-child(2) li
{
    color: white;
}

.HostingServicesFlexBoxItems:nth-child(2) li::marker,
.ServerSolutionsFlexBoxItems:nth-child(2) li::marker,
.EmailSolutionsFlexBoxItems:nth-child(2) li::marker,
.MoreProductsFlexBoxItems:nth-child(2) li::marker
{
    color: red;
}

.HostingServicesFlexBoxItems:nth-child(3),
.ServerSolutionsFlexBoxItems:nth-child(3),
.EmailSolutionsFlexBoxItems:nth-child(3),
.MoreProductsFlexBoxItems:nth-child(3)
{
    font-size: 16px;
    text-align: left;
    color: grey;
}

.HostingServicesFlexBoxItems:nth-child(4) button,
.ServerSolutionsFlexBoxItems:nth-child(4) button,
.EmailSolutionsFlexBoxItems:nth-child(4) button,
.MoreProductsFlexBoxItems:nth-child(4) button
{
    background-color: #f29b66;
}